<div class="header" [ngClass]="{'noSlider': router.url !== '/home'}">
  <div class="headerNav" [ngClass]="{'openSide' : mainMobileMenu}">
    <div class="container">
      <div class="menu__burger" [ngClass]="{'active' : mainMobileMenu}" (click)="mainMobileMenu = !mainMobileMenu;">
        <span></span>
      </div>
      <a routerLink="/" class="headerLogo">
        <img src="assets/img/header-logo.png" alt="" title="">
      </a>
      <ul [ngClass]="{'open-nav' : mainMobileMenu}">
        <li>
          <a routerLink="/" (click)="mainMobileMenu = false;">
            главная
          </a>
        </li>
        <li>
          <a routerLink="menu" (click)="mainMobileMenu = false;">
            меню
          </a>
        </li>
        <li>
          <a href="javascript:">
            Доставка и оплата
          </a>
        </li>
        <li>
          <a href="javascript:">
            контакты
          </a>
        </li>
        <li class="mobileView">
          <a href="">
            +38(063)-287-59-38
          </a>
        </li>
      </ul>
      <!--<a href="" class="headerSearch headerLink">
        <img src="assets/img/search-ico.png" alt="">
      </a>
      <a href="shop.html" class="headerShop headerLink">
        <img src="assets/img/shop-ico.png" alt="">
        <span>0</span>
      </a>-->
      <a href="" class="headerPhone headerLink desktopView">
        +38(063)-287-59-38
      </a>
    </div>
  </div>

  <ngx-slick class="headerSlider " [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of [1, 2 ,3]" class="slide" style="background-image:url('../assets/img/slide.jpg');">
      <div class="slideTitle">
        <span>delivery</span>food
      </div>
    </div>
  </ngx-slick>
</div>

<router-outlet></router-outlet>

<div class="defaultImageSection">
  <div class="smallImage imageSection backgroundImage" style="background-image:url('assets/img/footer-image1.jpg');">

  </div>
  <div class="largeImage imageSection backgroundImage" style="background-image:url('assets/img/footer-image2.jpg');">

  </div>
</div>
<div class="footer">
  <div class="container">
    <ul class="footerNav">
      <li><a routerLink="/">Главная</a>
      <li><a routerLink="/menu">меню</a>
      <li><a routerLink="/">Доставка и оплата</a>
      <li><a routerLink="/">контакты</a>
    </ul>
    <a href="" class="footerSocial">
      <img src="assets/img/fb.png" alt="">
    </a>
    <a href="" class="footerSocial">
      <img src="assets/img/ig.png" alt="">
    </a>
  </div>
</div>
