<div class="header" [ngClass]="{'noSlider': router.url !== '/home'}">
  <div class="headerNav">
    <div class="container">
      <div class="menu__burger">
        <span></span>
      </div>
      <a routerLink="/" class="headerLogo">
        <img src="assets/img/header-logo.png" alt="" title="">
      </a>
      <ul>
        <li>
          <a routerLink="/">
            главная
          </a>
        </li>
        <li>
          <a routerLink="menu">
            меню
          </a>
        </li>
        <li>
          <a href="javascript:">
            Доставка и оплата
          </a>
        </li>
        <li>
          <a href="javascript:">
            контакты
          </a>
        </li>
        <li>
          <a href="javascript:">
            Комплексы
          </a>
        </li>
        <li class="mobileView">
          <a href="">
            +1-202-555-0003
          </a>
        </li>
      </ul>
      <a href="" class="headerSearch headerLink">
        <img src="assets/img/search-ico.png" alt="">
      </a>
      <a href="shop.html" class="headerShop headerLink">
        <img src="assets/img/shop-ico.png" alt="">
        <span>0</span>
      </a>
      <a href="" class="headerPhone headerLink desktopView">
        +1-202-555-0003
      </a>
    </div>
  </div>
  <div class="headerSlider">
    <div class="slide" style="background-image:url('../assets/img/slide.jpg');">
      <div class="slideTitle">
        <span>delivery</span>food
      </div>
    </div>
    <div class="slide" style="background-image:url('../assets/img/slide.jpg');">
      <div class="slideTitle">
        <span>delivery</span>food
      </div>
    </div>
    <div class="slide" style="background-image:url('../assets/img/slide.jpg');">
      <div class="slideTitle">
        <span>delivery</span>food
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="defaultImageSection">
  <div class="smallImage imageSection backgroundImage" style="background-image:url('assets/img/footer-image1.jpg');">

  </div>
  <div class="largeImage imageSection backgroundImage" style="background-image:url('assets/img/footer-image2.jpg');">

  </div>
</div>
<div class="footer">
  <div class="container">
    <ul class="footerNav">
      <li><a routerLink="/">Главная</a>
      <li><a routerLink="/menu">меню</a>
      <li><a routerLink="/">Доставка и оплата</a>
      <li><a routerLink="/">контакты</a>
      <li><a routerLink="/menu">Комплексы</a></li>
    </ul>
    <a href="" class="footerSocial">
      <img src="assets/img/fb.png" alt="">
    </a>
    <a href="" class="footerSocial">
      <img src="assets/img/ig.png" alt="">
    </a>
  </div>
</div>
