<div class="promoSection defaultSection">

  <ngx-slick class="promoSlider " [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="promoOuterSlide">
      <div class="promoSlide">
        <div class="promoImage backgroundImage" [ngStyle]="{'background-image': 'url(assets/img' + slide.sliderImages[0] + ')'}">
          <img src="assets/img/promo-mask.png" alt="" title="">
        </div>
        <div class="promoContent" [ngStyle]="{'background-image': 'url(assets/img' + slide.sliderImages[1] + ')'}">
          <div class="promoInner">
            <div class="promoTitle">
              {{ slide.name }}
            </div>
            <div class="promoText">
              {{ slide.description }}
            </div>
            <a routerLink="/dish/{{ slide.name }}" class="promoLink">
                Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick>

</div>
<!--<div class="container">
    <div class="moreLink">
        <a href="">
            Посмотреть все акции
        </a>
    </div>
</div>-->
